.project-heading-certs {
    margin-left: 35%;
    width: 30%;
    padding: 4rem 0 2rem 0;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1140px;
    margin: auto;
    padding-bottom: 5rem;   
}

.project-card-certs {
    background: #000;
    padding: 1.2rem 1rem;
}

.project-card img {
    width: 100%;
}

.project-title-certs {
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.pro-details p{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.pro-btns-certs {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}

.pro-btns .btn {
    padding: 0.5rem 1rem;
}

@media screen and (max-width: 740px){
    .project-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}

