.project-heading-unity {
    margin-left: 25%;
    width: 50%;
    padding: 4rem 0 2rem 0;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1140px;
    margin: auto;
    padding-bottom: 5rem;
    align-items: stretch; /* ensures cards stretch equally if needed */
}

.project-card {
    background: #1a1919;
    padding: 1.2rem 1rem;
    border-radius: 1em;

    display: flex;
    flex-direction: column;
    height: 100%; /* optional: card fills grid cell height */
}

.project-card video {
    width: 100%;
}

.project-card-image {
    width: 100%;
    height: auto;
}

.project-title {
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.pro-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.pro-details p {
    flex-grow: 1;
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
    margin: 0;
}

.pro-btns {
    margin-top: auto; /* push buttons to bottom */
    display: flex;
    gap: 3rem;
    padding: 0.5rem 0 0 0; /* only top padding */
}

.pro-btns .btn {
    padding: 0.5rem 1rem;
    justify-content: center;
}

@media screen and (max-width: 740px){
    .project-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}
